.klasa{
	background-color: #D3D3D3;
	text-align: center ;

}

.klasa2{
	background-color: white;
	margin: 15px 15px;
}

.klasa3{
  text-align: left;
  margin-right:32%;
  margin-left: 25%;
}

#klasa4{
	padding-top: 40px;
	font-family: Arial;
}

#hapesira{
	 padding-top: 0.3cm;
}